{% extends 'layout.html' %}

{% block title %}Bedroom page{% endblock %}

{% block content %}
<h1>A Knock At The Window</h1>
<h2>Bedroom</h2>
  <p>Your bedroom your safe haven somewhere where you feel comfortable,
    you never thought you would be hunted down like an animal in here.</p>
  <p>
        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠶⠶⠖⠒⠒⠒⠒⠛⠛⠛⠛⠛⠉⢹⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀
⠀⠀⠈⠭⠍⠉⠉⠀⠀⠀⠈⢡⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⢸⣀⣀⣀⣀⣀⣀⣠⣤⣤⡤⠤⠤⠤⠼⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠈⠉⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢰⡖⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣶⠀⠀⠀⠀⠀⠠⠤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢸⣧⣤⣴⣦⣤⣤⣤⣤⣤⣴⣷⣶⣶⣶⣶⣶⣿⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢸⣿⡿⣿⡿⠿⠿⠿⠿⠿⠿⠿⠛⠏⠉⠉⠉⢹⠀⠀⠀⠀⠀⠤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠄⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢸⣿⣿⡀⠀⠐⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢸⣿⠛⠓⠒⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⢀⠀⠐⠂⠌⠐⠒⠲⠤⣤⣿⣶⣶⣤⠀⠀⠀⠀⠀⠤
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢸⣿⠀⠘⠈⠊⠁⠈⡀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠐⠀⠀⠈⠀⠀⠀⠉⠙⠛⠛⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣀⠀⠀⠀⠸⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡀⠀⠀⠀⢤⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀
⡀⠀⠀⠉⠄⠀⠀⠐⠂⠀⠀⠀⢠⣴⣶⣾⣿⣷⣤⡀⠀⠀⠀⠀⠀⠀⠀⠒⠀⠀⠈⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⢸⣿⣿⣿⣿⣿⣿⠇⠀⢠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿
⠀⠀⠘⠀⠀⠀⠁⠀⠀⠀⠀⠀⢸⣿⡿⢿⣿⣿⣿⣷⣦⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠻⢿⣿
⠀⠀⠀⠄⠀⠀⠠⠀⠀⢀⡐⠂⠀⣠⣶⣿⣿⣿⣿⣿⣿⣿⣿⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡀⠀⠀⣀⣀⣄⣀⣤⠃⠀⠈
⠀⠀⠂⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣐⣀⣠⣤⣤⣤⣤⣶⣶⣶⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣦⣄
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠛
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠉⠛⠛⠿⠿⠿⠿⣿⣿⣿⣿⠿⠿⠿⠿⠿⠿⠛⠛⠛⠛⠋⠉⠉⠉⠀⠈⠀⠀⠀⠀
</p>
<p>
  What do you do?
  1. Hide in the closet
  2. Hide under the bed
  3. Use the phone on the nightstand to call for help
  </p>
{% endblock %}
