{% extends 'layout.html' %}

{% block title %}Bedroom page{% endblock %}

{% block content %}
<h1>A Knock At The Window</h1>
<h2>Bedroom</h2>
  <p>You made a good choice and avoided the killer this time.
  Lets hope next time you are just as lucky.</p>
  <p>
    ⡟⠫⣉⠉⠉⡩⠋⢹⡇⠛⠉⠉⠉⠉⠉⠉⠉⠙⠛⢻⢶⠒⠛⠛⠛⣻⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⡇⠀⠘⡦⠊⠀⠀⢸⡧⠀⠠⠤⠄⠀⠤⠀⠤⠄⠤⢼⠀⠣⡀⠀⡐⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⡇⠀⠀⡇⠀⠀⠀⠸⡃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠈⡞⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⣧⠀⠀⡁⠀⠀⠀⢸⣇⣀⣀⣀⣐⣉⣐⣀⡔⠲⡤⢼⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠞⡟⠿⢻⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⣿⠀⠀⠆⠀⠀⠀⠈⡇⠀⠀⡀⢀⡘⢄⠘⡡⠴⠁⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠋⠠⠀⡆⡌⣷⡄⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⣿⠀⠀⠅⠀⠀⠀⢸⡇⣐⣀⠢⣠⠤⣄⡁⢄⢀⣀⢸⠀⠀⠀⢀⠀⠀⡄⠀⠀⠉⠉⡟⠉⠉⠙⢿⡋⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⣿⠀⠀⠇⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠉⠉⠁⠐⢺⠀⠀⠀⢸⠀⠀⡀⠀⠀⠀⠈⣇⣀⢀⣀⣸⣃⣀⣀⣀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⣿⠀⠀⡇⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢸⠀⠀⣿⠉⠉⠉⠉⠉⠉⠉⠉⠀⠀⠁⠈⠉⠉⠱⡄⠀⠀
  ⠀⠀⠀⠀⠀⡏⠀⠀⠃⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢸⠀⠀⣿⠀⠒⠒⠒⠂⠀⠀⠀⠀⠀⠀⠀⠐⠂⠀⡇⠀⠀
  ⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠘⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⣿⠀⠐⠂⠀⠀⠀⠀⡀⡀⠀⠐⠂⠀⠀⠀⠁⠀⠀
  ⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠈⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⡏⠀⠀⠀⠀⠀⠀⠀⠀⠤⠀⠀⠀⠀⠂⠀⡀⠀⠀
  ⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⢠⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠠⠀⠀⠀⠀⠀⠰⠀⠂⠀⠀⠀⠀⠀⠀⠀⠐⠐⠒⠀⠀⠀⡇⠀⠀
  ⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠀⠀⡇⠀⠀
  ⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠠⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠀⠀⡇⠀⠀
  ⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡆⠀⠀⠀⡄⠀⢠⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠁⠀⠀
  ⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⡆⠀⢸⠀⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠁⠸⠀⠀⠀
  ⠀⠀⠀⠀⠀⡇⠀⠀⢀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⡇⠀⢸⠀⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⠇⢀⠀⠀⠀
  ⠀⠀⠀⠀⠨⡇⠀⠀⢸⠀⠀⠀⠀⣰⠄⠀⠀⠀⠄⠠⢀⠀⠀⢠⠤⣧⠀⠀⠀⡃⠀⢸⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⠤⡀⢸⠀⠀⠀
  ⠀⠀⠀⠀⠀⣿⠀⠀⢸⠀⠀⠀⠀⡯⡀⢠⠁⠀⠀⣂⠀⠀⠀⠀⠈⢸⠀⠀⠀⠀⠀⢸⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠀⠠⠀⡇⢸⠀⠀⠀
  ⠀⠀⠀⠀⠀⣿⠀⠀⠀⡄⠀⠀⠀⡇⠄⠀⠉⢁⠀⠀⠀⠐⠀⠀⠄⢺⠀⠀⠀⠀⠀⢸⠀⢀⣀⡀⣀⣀⠀⡀⠀⠀⠀⠀⣀⡆⢸⠀⠀⠀
  ⠀⠀⠀⠀⠀⠉⠷⣤⣀⡇⠀⣠⠔⠃⠀⠰⢂⠀⠀⠘⠏⠉⢈⠐⢣⡛⣦⡀⠀⠀⠀⣸⡀⠀⠀⠀⠀⠀⠀⠀⣀⣁⣀⣀⣀⣀⣸⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠂⠁⠙⠷⠚⠑⡉⠀⠈⠀⠀⠀⠈⠀⠀⠁⠀⠀⠐⠀⠀⠉⢦⡦⠌⠀⠈⠉⠉⠉⠉⠍⡉⡍⠁⡉⠬⡈⠉⠉⠁⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠀⠀⠀⠁⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    </p>
  <ul>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀    ⠀⠀⠀
      <li><a href="{{ url_for('bathroom') }}"><input type="button" value="Bathroom"></a></li>
  </ul>


{% endblock %}
