{% extends 'layout.html' %}

{% block title %}Bedroom page{% endblock %}

{% block content %}
<h1>A Knock At The Window</h1>
<h2>Bedroom</h2>
  <p>Your bedroom your safe haven somewhere where you feel comfortable,
    you never thought you would be hunted down like an animal in here.</p>
  <p>
        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠶⠶⠖⠒⠒⠒⠒⠛⠛⠛⠛⠛⠉⢹⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀
⠀⠀⠈⠭⠍⠉⠉⠀⠀⠀⠈⢡⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⢸⣀⣀⣀⣀⣀⣀⣠⣤⣤⡤⠤⠤⠤⠼⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠈⠉⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢰⡖⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣶⠀⠀⠀⠀⠀⠠⠤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢸⣧⣤⣴⣦⣤⣤⣤⣤⣤⣴⣷⣶⣶⣶⣶⣶⣿⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢸⣿⡿⣿⡿⠿⠿⠿⠿⠿⠿⠿⠛⠏⠉⠉⠉⢹⠀⠀⠀⠀⠀⠤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠄⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢸⣿⣿⡀⠀⠐⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢸⣿⠛⠓⠒⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⢀⠀⠐⠂⠌⠐⠒⠲⠤⣤⣿⣶⣶⣤⠀⠀⠀⠀⠀⠤
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢸⣿⠀⠘⠈⠊⠁⠈⡀⠀⠀⠠⠀⠀⠀⠀⠀⠀⠐⠀⠀⠈⠀⠀⠀⠉⠙⠛⠛⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣀⠀⠀⠀⠸⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡀⠀⠀⠀⢤⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀
⡀⠀⠀⠉⠄⠀⠀⠐⠂⠀⠀⠀⢠⣴⣶⣾⣿⣷⣤⡀⠀⠀⠀⠀⠀⠀⠀⠒⠀⠀⠈⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⢸⣿⣿⣿⣿⣿⣿⠇⠀⢠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿
⠀⠀⠘⠀⠀⠀⠁⠀⠀⠀⠀⠀⢸⣿⡿⢿⣿⣿⣿⣷⣦⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠻⢿⣿
⠀⠀⠀⠄⠀⠀⠠⠀⠀⢀⡐⠂⠀⣠⣶⣿⣿⣿⣿⣿⣿⣿⣿⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡀⠀⠀⣀⣀⣄⣀⣤⠃⠀⠈
⠀⠀⠂⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣐⣀⣠⣤⣤⣤⣤⣶⣶⣶⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣦⣄
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠛
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠉⠛⠛⠿⠿⠿⠿⣿⣿⣿⣿⠿⠿⠿⠿⠿⠿⠛⠛⠛⠛⠋⠉⠉⠉⠀⠈⠀⠀⠀⠀
</p>

<p>
  What do you do?
</p>
<p>
  1. Hide in the closet
</p>
<p>
  2. Hide under the bed
</p>
<p>
  3. Use the phone on the nightstand to call for help
</p>

  <form method="post">
    <label for="bedroom_decision">Make Your Choice</label>
    <input Choice="Choice" id="bedroom_decision" value="{{ request.form['Choice'] }}" required>
    <input type="submit" value="submit">
  </form>
{% endblock %}
