{% extends 'layout.html' %}

{% block title %}Bedroom page{% endblock %}

{% block content %}
<h1>A Knock At The Window</h1>
<h2>Kitchen</h2>
  <p>You made a good choice and avoided the killer this time.
    Lets hope next time you are just as lucky.
    Go to another room by entering what room you would like to go to.
    But remember you can't go in the same room again.</p>
  <p>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢰⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣾⣿⣿⣿⣿⣿⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⣿⡉⠉⣉⠉⠉⢹⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡀
⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⠀⠈⠄⠀⠠⠀⣯⠁⢀⡿⠂⠀⢸⣿⠀⠀⡈⠉⠉⠉⠉⠉⠁⠀⠐⠀⠀⠀⠀⠒⠒⠀⢸⡇
⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⡀⠀⡀⠀⡀⠀⠅⠀⠸⡀⠀⠀⢸⣿⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⣸⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⠉⠉⠁⠀⠉⠀⠀⠀⠀⠉⠉⠁⣼⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠃⠀⠀⠀⠀⠀⠀⠀⣿⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⠀⠀⢠⡀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⢠⠀⠀⠀⠀⠀⠀⠀⢰⠀⠀⠀⠀⠀⠀⠀⠀⡏⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⠀⠀⠀⠀⠀⠀⠀⣼⣿⠋⠀⠀⠠⠀⠰⠒⠈⠁⣿⡇⠀⢸⠀⠀⠀⠀⠀⠀⠀⠸⠀⠀⠀⠀⠀⠀⠀⢠⡇⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⣿⣿⠉⠀⠀⠀⠀⠀⠀⡄⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡄⠀⠀⠀⠀⠀⠀⠀⢸⠃⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⢡⣿⡧⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⣀⣀⣀⣀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⢱⣿⠀⢠⣿⣿⣿⣿⣿⣿⠀⢰⣿⣷⣶⣶⣶⡆⠀⠀⣿⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡿⠀⢸⣿⣿⣿⣿⣿⡟⠀⢸⣿⣿⣿⣿⣿⣷⠀⠀⡇⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣧⠀⠀⠀⠀⠀⠀⣶⠂⡀⣀⣀⠀⠀⠀⠀⠀⢸⡇⠀⢸⣿⣿⣿⣿⣿⡇⠀⣼⣿⣿⣿⣿⣿⣿⠀⢀⡇⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣟⠃⠀⠀⡀⠀⠀⠉⠀⠀⠚⠋⠑⠁⠂⢀⡆⢸⡇⠀⣾⣿⣿⣿⣿⣿⠇⠀⣿⣿⣿⣿⣿⣿⡟⠀⢸⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡏⠀⠀⢴⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠚⢳⢸⡇⠀⣿⣿⣿⣿⣿⣿⠀⢀⣿⣿⣿⣿⣿⣿⡇⠀⢸⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠈⠃⠀⠀⠐⠀⠀⠀⠀⠀⠀⠀⣶⣾⣼⠀⢀⣿⣿⣿⣿⣿⣿⠀⢸⣿⣿⣿⣿⣿⣿⠇⠀⡎⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠉⠉⠉⠛⠛⠃⠀⠸⠿⣿⣿⣿⣿⣿⠀⠀⡇⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠀⢀⠃⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀
⠀⠀</p>
  <ul>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀    ⠀⠀⠀
      <li><a href="{{ url_for('office') }}"><input type="button" value="office"></a></li>
  </ul>


{% endblock %}
