{% extends 'layout.html' %}

{% block title %}kitchen{% endblock %}

{% block content %}
<h1>A Knock At The Window</h1>
  <h2>Kitchen</h2>
  <p>
    Your kitchen is a place for enjoy meant and fun with family and friends
    where hoildays start with a great meal not a knife in your back.
  </p>

  <p>
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣀⣠⣤⣶⣶⣿⣿⣿⣿⡇
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢤⣶⣶⣿⣿⣿⣿⣿⣿⣿⣽⣿⣿⣿⣿⣿⡇
⣶⣤⣄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣠⣤⣴⣶⣶⢳⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇
⡇⡈⡉⠙⠛⣿⠀⠀⠀⠀⠀⠀⠀⠀⢤⡀⠀⠀⠀⢠⣶⣶⠏⢿⣿⣿⣿⣿⣿⠟⠁⠀⠈⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇
⡇⠀⠁⠛⠀⣿⠀⠀⠀⠀⠀⠀⠐⠒⠤⡄⣀⡀⡑⠀⡿⠁⠀⠀⠿⣿⠀⠀⢐⠀⠀⠀⠀⢈⡟⠛⠛⠛⠉⠉⠉⢹⣿⣿⣿⣿⣿⣿⣿⡇
⡇⠀⠀⢠⡀⣿⠀⠀⠀⠀⠀⠀⢀⠀⢀⠄⢠⡄⡁⠀⣿⣿⣶⣶⣯⠙⠋⠉⠉⢸⣿⢚⣗⣘⡇⠀⠀⠀⠀⠀⠀⢸⣿⠿⠧⢿⣿⡿⠿⡇
⡇⠀⠀⠀⢀⣿⠀⠀⠀⠀⠀⠀⠈⠀⠙⡇⢻⡟⡇⠀⣯⣿⣿⣟⣿⣿⡏⠀⠀⠀⣿⣛⣿⣿⠀⠀⠀⠀⠀⠀⠀⠘⣾⣭⣤⣤⣤⣥⡄⡇
⣇⣤⠀⢀⢤⣿⠀⠀⠀⣶⠀⠀⢰⣾⣿⡇⢺⡇⡇⠀⠉⠅⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠭⠭⢭⣭⠭⠭⠥⡇
⣿⣿⣷⣾⣬⣿⠀⠀⣀⣙⣀⣠⣬⣭⡭⠥⠭⠉⠁⠀⠒⠒⠒⠒⠌⠀⠀⠀⠑⠲⠤⠤⠽⠾⠷⠶⠶⠶⠶⢶⣦⣾⣀⣀⣀⣐⣒⣒⡒⡇
⣿⣿⣿⣿⣟⣿⠀⠀⣿⣿⣿⣿⣿⣿⡗⢸⣿⣿⣿⣶⣶⣶⣶⣦⣤⣤⣤⣤⣄⣀⣀⣀⣀⡀⠀⠀⠀⠀⠀⣾⣿⣿⣿⣿⣿⣿⣿⣿⡇⡇
⣿⣿⣿⣿⣿⣿⠀⠀⣿⣿⣿⣿⣿⣿⡇⢸⣿⣿⣿⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣿⣴⣶⣤⣄⣩⣭⣥⡇
⣿⣿⣿⣿⣿⣿⠀⠠⣿⣿⣿⡿⠿⠿⢻⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠁⣿⣿⣿⣿⣿⣿⣿⣿⡇
⣿⠿⠟⠛⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠉⠉⠉⠛⠛⠛⠇
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠉⠙⠉⣵⡀⠀⠞⣽⣯⠉⢻⢻⠿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⠀⠀⠠⠇⠘⠾⠿⠿⣟⠟⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⡀⠤⠀⠀⠂⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠘⠀⠀⠀⠇⠀⠡⠀⠀⠀⠉⠙⣿⣿⣿⠀⠀⠀⠀⠨⡀⠀⠀⠀⠀⠀
 </p>

{% endblock %}
