{% extends 'layout.html' %}

{% block title %}livingroom{% endblock %}

{% block content %}
<h1>A Knock At The Window</h1>
  <h2>Livingroom</h2>
  <p>
    Your living room a place to relax and watch tv hopefully you won't
    die here or it won't be the living room anymore.
  </p>

  <p>
⠀⠀⠀⠀⠀⠀⢠⣼⣤⠀⠻⠀⣔⠄⠀⠀⠀⠀⠀⠀⠀⠀⢸⠉⠉⠉⠉⠉⠛⠛⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣻⣯⣶
⠀⠀⠀⠀⠀⢀⣿⣿⣿⣇⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⣿⣿
⣤⣀⠀⠀⠀⠸⠿⠿⠿⠿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣤⣤⣧⣳⣎⣧⡤⣽⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣷⡼⠇⣿
⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠉⠉⠉⠉⠉⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⢀⡏⠙⣇⠀⠉⠉⠁⠀⣯
⣿⣤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣤⣶⣶⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⡄⠀⠀⠰⠷⡶⠿⠀⣾⣿⢓⣀⣻
⣿⣶⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⢼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⢀⢀⠰⠧⠀⠀⣿⣿⣿⣿⣿
⣯⣍⡁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣳⣮⣤⣄⣀⠛⠙⠛⢿⠿
⣿⠉⡇⠀⠀⢠⢀⣈⣦⢶⣶⣌⣀⣀⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠶⠥⠔⠨⠴
⣿⣾⡇⠀⠀⠘⣿⣿⣿⣿⣿⣷⣾⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣷⣶⣶⣷
⣿⣿⡇⣀⡀⠀⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣤⣤⣵⣿⣿⣿⣿⣿⣿⣿⠿⠿⠟⠛⠛⠛⢛⣛⡛⢛⠛⠛⢛⣛⣛⣛⣛⣛⣛⣛⠛⣛⠛⠛⠛⠛⠛⠻⢿⢿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠋⠀⠀⠀⡠⠐⠂⠉⠁⢡⣾⣶⣾⣾⠿⠛⠛⠛⠓⠿⣿⣿⣶⣦⡈⠉⠐⠠⣄⠀⠀⠀⠉⠛⠿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠋⠀⠀⠀⠀⠀⢸⡀⠀⠀⠀⢀⠈⡛⠿⠿⠿⠿⠿⠿⠿⠿⠿⢿⣿⠿⠿⠃⡀⠀⠠⢨⠄⠀⠀⠀⠀⠀⠀⠻⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠉⠐⠒⠒⠒⠚⠒⠒⠒⠒⠚⠒⠒⠒⠐⠺⠰⠂⠐⠒⠒⠒⠂⠈⠁⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣦⣤⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⢀⠀⠀⠀⠀⠀⢀⣀⢀⠀⠀⣀⠀⢀⠀⡀⠀⠀⣀⠀⢀⠀⣀⣠⣤⣴⣾⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
</p>
  <p>
    What do you do?
  </p>
  <p>
    1. Hide behide the lamp
  </p>
  <p>
    2. Hide in the coat closet
  </p>
  <p>
    3. Hide behide the couch
  </p>
  <form method="post" action = "{{url_for('livingroom')}}">
      <label for="livingroom_decision">Make Your Choice</label>
      <input type="text" name="livingroom_decision" ></input>
      <button type="submit" name="button">submit</button>
  </form>

{% endblock %}
