{% extends 'layout.html' %}

{% block title %}livingroom{% endblock %}

{% block content %}

  <h1>Your Bedroom</h1>
  <p>
    Your bedroom your safe haven somewhere where you feel comfortable,
        you never thought you would be hunted down like an animal in here.
  </p>

  <p>
⠀⠀⠀⠀⠀⠀⢠⣼⣤⠀⠻⠀⣔⠄⠀⠀⠀⠀⠀⠀⠀⠀⢸⠉⠉⠉⠉⠉⠛⠛⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣻⣯⣶
⠀⠀⠀⠀⠀⢀⣿⣿⣿⣇⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⣿⣿
⣤⣀⠀⠀⠀⠸⠿⠿⠿⠿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣤⣤⣧⣳⣎⣧⡤⣽⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣷⡼⠇⣿
⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠉⠉⠉⠉⠉⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⢀⡏⠙⣇⠀⠉⠉⠁⠀⣯
⣿⣤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣤⣶⣶⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⡄⠀⠀⠰⠷⡶⠿⠀⣾⣿⢓⣀⣻
⣿⣶⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⢼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⢀⢀⠰⠧⠀⠀⣿⣿⣿⣿⣿
⣯⣍⡁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣳⣮⣤⣄⣀⠛⠙⠛⢿⠿
⣿⠉⡇⠀⠀⢠⢀⣈⣦⢶⣶⣌⣀⣀⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠶⠥⠔⠨⠴
⣿⣾⡇⠀⠀⠘⣿⣿⣿⣿⣿⣷⣾⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣷⣶⣶⣷
⣿⣿⡇⣀⡀⠀⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣤⣤⣵⣿⣿⣿⣿⣿⣿⣿⠿⠿⠟⠛⠛⠛⢛⣛⡛⢛⠛⠛⢛⣛⣛⣛⣛⣛⣛⣛⠛⣛⠛⠛⠛⠛⠛⠻⢿⢿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠋⠀⠀⠀⡠⠐⠂⠉⠁⢡⣾⣶⣾⣾⠿⠛⠛⠛⠓⠿⣿⣿⣶⣦⡈⠉⠐⠠⣄⠀⠀⠀⠉⠛⠿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠋⠀⠀⠀⠀⠀⢸⡀⠀⠀⠀⢀⠈⡛⠿⠿⠿⠿⠿⠿⠿⠿⠿⢿⣿⠿⠿⠃⡀⠀⠠⢨⠄⠀⠀⠀⠀⠀⠀⠻⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠉⠐⠒⠒⠒⠚⠒⠒⠒⠒⠚⠒⠒⠒⠐⠺⠰⠂⠐⠒⠒⠒⠂⠈⠁⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣦⣤⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⢀⠀⠀⠀⠀⠀⢀⣀⢀⠀⠀⣀⠀⢀⠀⡀⠀⠀⣀⠀⢀⠀⣀⣠⣤⣴⣾⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
</p>
  <p>
    What do you do?
    1. Hide behide the lamp
    2. Hide in the coat closet
    3. Hide behide the couch
  </p>

{% endblock %}
