{% extends 'layout.html' %}

{% block title %}livingroom{% endblock %}

{% block content %}
<h1>A Knock At The Window</h1>
  <h2>Livingroom</h2>
  <p>
    Your bedroom your safe haven somewhere where you feel comfortable,
        you never thought you would be hunted down like an animal in here.
  </p>

  <p>
⠀⠀⠀⠀⠀⠀⢠⣼⣤⠀⠻⠀⣔⠄⠀⠀⠀⠀⠀⠀⠀⠀⢸⠉⠉⠉⠉⠉⠛⠛⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣻⣯⣶
⠀⠀⠀⠀⠀⢀⣿⣿⣿⣇⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⣿⣿
⣤⣀⠀⠀⠀⠸⠿⠿⠿⠿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣤⣤⣧⣳⣎⣧⡤⣽⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣷⡼⠇⣿
⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠉⠉⠉⠉⠉⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⢀⡏⠙⣇⠀⠉⠉⠁⠀⣯
⣿⣤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣤⣶⣶⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⡄⠀⠀⠰⠷⡶⠿⠀⣾⣿⢓⣀⣻
⣿⣶⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⢼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⢀⢀⠰⠧⠀⠀⣿⣿⣿⣿⣿
⣯⣍⡁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣳⣮⣤⣄⣀⠛⠙⠛⢿⠿
⣿⠉⡇⠀⠀⢠⢀⣈⣦⢶⣶⣌⣀⣀⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠶⠥⠔⠨⠴
⣿⣾⡇⠀⠀⠘⣿⣿⣿⣿⣿⣷⣾⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣷⣶⣶⣷
⣿⣿⡇⣀⡀⠀⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣤⣤⣵⣿⣿⣿⣿⣿⣿⣿⠿⠿⠟⠛⠛⠛⢛⣛⡛⢛⠛⠛⢛⣛⣛⣛⣛⣛⣛⣛⠛⣛⠛⠛⠛⠛⠛⠻⢿⢿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠋⠀⠀⠀⡠⠐⠂⠉⠁⢡⣾⣶⣾⣾⠿⠛⠛⠛⠓⠿⣿⣿⣶⣦⡈⠉⠐⠠⣄⠀⠀⠀⠉⠛⠿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠋⠀⠀⠀⠀⠀⢸⡀⠀⠀⠀⢀⠈⡛⠿⠿⠿⠿⠿⠿⠿⠿⠿⢿⣿⠿⠿⠃⡀⠀⠠⢨⠄⠀⠀⠀⠀⠀⠀⠻⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠉⠐⠒⠒⠒⠚⠒⠒⠒⠒⠚⠒⠒⠒⠐⠺⠰⠂⠐⠒⠒⠒⠂⠈⠁⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣦⣤⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⢀⠀⠀⠀⠀⠀⢀⣀⢀⠀⠀⣀⠀⢀⠀⡀⠀⠀⣀⠀⢀⠀⣀⣠⣤⣴⣾⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
</p>
  <p>
    What do you do?
  </p>
  <p>
    1. Hide behide the lamp
  </p>
  <p>
    2. Hide in the coat closet
  </p>
  <p>
    3. Hide behide the couch
  </p>
  <form method="post">
    <label for="livingroom_decision">Make Your Choice</label>
    <input Choice="Choice" id="livingroom_decision" value="{{ request.form['Choice'] }}" required>
    <input type="submit" value="submit">
  </form>

{% endblock %}
