{% extends 'layout.html' %}

{% block title %}office{% endblock %}

{% block content %}
<h1>A Knock At The Window</h1>
  <h1>office</h1>
  <p>
    Your bedroom your safe haven somewhere where you feel comfortable,
        you never thought you would be hunted down like an animal in here.
  </p>
  <p>
    What do you do?
  </p>
  <p>
    1. Sit in the desk chair
  </p>
  <p>
    2. Hide under the desk
  </p>
  <p>
    3. Hide behind the curtains
  </p>
  <form method="post">
    <label for="koffice_decision">Make Your Choice</label>
    <input Choice="Choice" id="office_decision" value="{{ request.form['Choice'] }}" required>
    <input type="submit" value="submit">
  </form>
{% endblock %}
