{% extends 'layout.html' %}

{% block title %}office{% endblock %}

{% block content %}
<h1>A Knock At The Window</h1>
  <h1>office</h1>
  <p>
    A place to get work done a quiet place not
    going to be quiet if you get killed in there
  </p>
  <p>
    What do you do?
  </p>
  <p>
    1. Sit in the desk chair
  </p>
  <p>
    2. Hide under the desk
  </p>
  <p>
    3. Hide behind the curtains
  </p>
  <form method="post" action = "{{url_for('office')}}">
      <label for="office_decision">Make Your Choice</label>
      <input type="text" name="office_decision" ></input>
      <button type="submit" name="button">submit</button>
  </form>
{% endblock %}
